 .navbar {
            background-color: grey;
            width: 100%;
            background: transparent
        }

        .navbar ul {
            overflow: auto;

        }

        .navbar li {
            float: right;
            list-style: none;
            margin: 13px 20px;

        }

        .navbar li a:hover {
            color: lightslategrey;

        }

        .navbar li a {
            padding: 13px 3px;
            text-decoration: none;
            color: white;
        }

        .logo {
            float: left;
            font-size: 24px;
            color: white;
            margin: 10px 1px;
        }

        .body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url(background.jpg);
        }
